docs/project
**/**/.env
**/**/.env.local
**/**/.env.production

# Docker persisted data
server/supabase/volumes/db/data/
server/supabase/volumes/db/data_dev/
server/supabase/volumes/storage_dev/
server/kafka/data_dev/
server/redis/data_dev/
server/bunqueue/data_dev/
deploy/compose/.env.dev
deploy/compose/.env.prod
deploy/vps/.env.dev
deploy/vps/.env.prod
server/supabase/home/
server/kafka/data/
server/redis/data/
server/bunqueue/data/

# Dependencies & build
**/node_modules/
**/.next/
**/.turbo/
**/**/out
**/**/dist
client/mobile/flutter/ryvo/.dart_tool/
client/mobile/flutter/ryvo/build/
