############
# Kafka broker (Docker / KRaft)
# Copy to .env: cp .env.example .env
############

KAFKA_CONTAINER_NAME=ryvo_kafka_broker
KAFKA_HOST_PORT=9092

KAFKA_NODE_ID=1
KAFKA_NUM_PARTITIONS=3
KAFKA_CLUSTER_ID=ryvo-kafka-cluster-001

# Used by Ryvo edge functions / services (client config)
KAFKA_BROKER=ryvo_kafka_broker:9092
KAFKA_CLIENT_ID=ryvo-service
